.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  width: 750px;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  max-height: 90vh;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.modal-body {
  padding-top: 16px;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 12px;
}

.label {
  font-weight: 600;
  color: #333;
  text-align: right;
  padding-right: 8px;
}

.value {
  color: #444;
}

/* .billable {
  color: green;
  font-weight: 600;
}

.non-billable {
  color: red;
  font-weight: 600;
} */

.modal-footer {
  text-align: right;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.primary-btn {
  margin: 0px 5px;
  background-color: #0053ba;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  height: 40px;
}

.primary-btn:hover {
  background-color: #0042a0;
}
