<!-- <div class="landing-page-wrapper"> -->
<div class="card-wrappper">
    <h2>Admin Panel</h2>
    <p class="section-description">
        Manage user accounts, roles, and permissions. Admins can create, edit, and delete user accounts, ensuring proper access control and resource management.
    </p>
</div>
<div class="wrappper">
    <h2>User Management</h2>
    <p class="section-description">
        Admins can invite new users to the application, assigning them roles and permissions as needed.
    </p>
    <app-user-management></app-user-management>
</div>
